body {
    color: #263238;
    font-family: sans-serif;
    background-size: cover;
    background-position: top center;
    background-attachment: fixed;
    background-image: linear-gradient(to right bottom, #ffffff, #eceff1);
}
.matchItem {
    .matchItem__header {
        background-color: #cfd8dc;
        padding: 8px 12px;
        display: flex;
        justify-content: space-between;
        div {
            display: flex;
            align-items: center;
            .title {
                padding: 0 8px;
                font-size: 1.1rem;
            }
        }
    }

    .matchItem__events {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.eventItem {
    cursor: pointer;
    display: flex;
    width: 100%;
    padding: 16px 0;
    transition: all .2s;
    color: #455a64;
    border-radius: 48px;

    &:hover {
        background-color: #eceff1;
        border-radius: 0;
        color: black;
        transition: all .3s;
        .eventItem--time {
            font-weight: bold;
            transition: .4ms;
        }
    }

    .eventItem--home, .eventItem--away {
        width: 50%;
    }

    .eventItem--home {
        text-align: right;
    }

    .eventItem--time {
        text-align: center;
        font-weight: 500;
        width: 128px;
    }

    .eventItem--away {
        text-align: left;
    }
}

.navButtons {
    border-radius: 16px;
    border: 1px solid #607d8b33;
    display: flex;
    max-width: 400px;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: #eceff1bb;
    box-shadow: rgba(0, 0, 0, 0.16) 0 1px 4px;
    position: sticky;
    top: 8px;
    margin: 0px auto 16px auto;
    z-index: 9997;
    .nav-item {
        margin: 4px;
    }
    .nav-item, .nav-item a {
        max-width: 108px !important;
    }

    .nav-item a {
        border-radius: 48px;
        background-color: #cfd8dc;
        color: #263238;
        &.active {
            font-weight: 600 !important;
        }
    }
}

.icon-btn {
    cursor: pointer;
    border-radius: 20px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: #66666633;
    }
}

.backdrop {
    position: absolute;
    background-color: #77778844;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 9998;
    * {
        z-index: 9999;
    }
}