.matchItem {
    .matchItem__header {
        background-color: #e7e7e9;
        padding: 8px 12px;
        display: flex;
        justify-content: space-between;
        div {
            display: flex;
            align-items: center;
            title {
                padding: 0 8px;
            }
        }
    }

    .matchItem__events {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.eventItem {
    cursor: pointer;
    display: flex;
    width: 100%;
    padding: 24px 0;
    transition: all .2s;

    &:hover {
        background-color: #f0f0fa;
        transition: all .2s;
    }

    .eventItem--home {
        text-align: right;
        width: 50%
    }

    .eventItem--time {
        text-align: center;
        width: 128px;
    }

    .eventItem--away {
        text-align: left;
        width: 50%
    }
}

.navButtons {
    border-radius: 16px;
    border: 1px solid #607d8b33;
    display: flex;
    max-width: 400px;
    justify-content: center;
    align-items: center;
    padding: 8px;
    background-color: #eceff1bb;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    position: sticky;
    top: 8px;
    margin: 0px auto 16px auto;
    z-index: 9997;
    .nav-item {
        margin: 4px;
    }
    .nav-item, .nav-item a {
        max-width: 100px !important;
    }

    .nav-item a {
        border-radius: 48px;
        background-color: #cfd8dc;
        color: #263238;
        &.active {
            font-weight: 600 !important;
        }
    }
}

.icon-btn {
    cursor: pointer;
    border-radius: 20px;
    padding: 6px;
    display: flex;
    justify-content: center;
    align-items: center;

    &:hover {
        background-color: #66666633;
    }
}

.backdrop {
    position: absolute;
    background-color: #77778844;
    display: flex;
    justify-content: center;
    align-items: center;
    right: 0;
    left: 0;
    top: 0;
    height: 100vh;
    z-index: 9998;
    * {
        z-index: 9999;
    }
}